.container {    
    display: flex;
    flex-basis: 600px;
    box-shadow: 1px 2px 1px 2px teal;
    margin: 20px;
    padding: 30px 30px 0px 30px;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
}