html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;  
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  background-image: url("../src/images/currencies-image.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
} ;  